@model WeddingAttendee
@{
    Layout = "_Layout";
}

    <p>Merhaba @ViewBag.Name1 ile @ViewBag.Name2'in Düğününe kayıt ekranına hoşgeldiniz :)</p>
    <p>Kayıt olmak için asağıdaki linke tıklayınız..</p>
    <a href="/Home/Register">Kayıt</a>