@{
    Layout = "_Layout";
}
@if (ViewBag.Success)
{
    <p>Düğünümüzde seni de aramızda görücek olmaktan dolayı çok mutluyuz :)) </p>
}
else
{
    <p>Düğünümüze gelemeyeceğin için çok üzgünüz. Takınızı IBAN yoluyla ulaştırabilirsiniz :))</p>
}